/*details*/
.title-services {
    text-align: center;
    margin-top: 40px;
}

.list-of-services {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 50px;

    div {
        &:nth-child(n) {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 30px;
        }

        .services-list {
            width: 200px;
            height: auto;
            margin-right: 30px;
        }

        p {
            &:nth-child(n) {
                width: 60%;
            }
        }
    }
}
