@media screen and (max-width:1060px ) {
    .team .last-comment{
        font-size: 20px;
        margin: 20px;
        text-align: center;
    }
}

@media screen and (max-width: 800px) {
    .formulario .form {
        width: 70%;
    }
}

@media (max-width: 793px) {
    .product div {
        font-size: 18px;
        padding: 15px;
        margin-left: 20px;
    }
}

@media screen and (max-width:773px) {
    .d-none {
        display: block !important;
    }
}

@media screen and (max-width: 768px) {
    .main-text p {
        font-size: 40px;
    }
}

@media screen and (max-width: 750px) {
    .consultation {
        text-align: center;
        font-size: 20px;
        margin: 10px;
    }
    .steps div {
        gap: 30px;
        width: 50%;
}
.steps div img {
    height: 100px;
}
.steps div p {
    font-size: 15px;
    text-align: center;
}
.contenedor-mapa .location{
    margin: 20px;
    width: 70%;
}
}

@media (max-width: 695px) {

    .product div .button1,
    .product div .button2 {
        padding: 8px 14px;
        border-radius: 4px;
        margin-right: 10px;
        font-size: 14px;
    }
}

@media (max-width: 640px) {
    .product {
    flex-direction: column;
    text-align: center;
    }

    .product div .button1,
    .product div .button2 {
        padding: 6px 12px;
        border-radius: 4px;
        margin-right: 8px;
    }

    .product div {
        font-size: 16px;
        padding: 12px;
        margin-left: 18px;
        text-align: center;
    }

    .product img {
        height: 30vh;
        width: 30vh;
        margin-left: 0px;
    }

    
    .contenedor-mapa .location{
        margin: 20px;
        width: 60%;
}
}


@media (max-width: 538px) {
    .product {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
}

@media (max-width: 535px) {
    .main-text p {
        font-size: 35px;
        margin-left: 0px;
    }
}

@media screen and (max-width:470px) {
    .formulario .form {
        width: 60%;
        padding: 18px;
    }

    .formulario .form .subscribe1 {
        font-size: 22px;
    }

    .formulario .form h2 {
        font-size: 24px !important;
    }
    .list-of-services .each-service {
    flex-direction: column;
    text-align: center;
  }
}


@media (max-width: 414px) {
    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


@media screen and (max-width:365px) {
    .formulario .form h2 {
        font-size: 16px;
    }

    .form .subscribe1 {
        font-size: 12px;
    }

    .formulario {
        font-size: 12px;
        padding: 5px;
        margin-inline: 5px;
    }
}